<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "inettman.routes.cost"
        versionCode = "24"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Стоимость поездки на авто</name>

    <description>
        Построение маршрута, определение стоимости поездки на авто
    </description>
    <preference name="loadUrlTimeoutValue" value="1000000" />

    <preference name="android-build-tool" value="gradle" />
    <gap:plugin name="cordova-plugin-admobpro" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-google-analytics" source="npm"> <param name="ios-package" value="UniversalAnalyticsPlugin" /> <param name="android-package" value="com.danielcwilson.plugins.analytics.UniversalAnalyticsPlugin" /> <param name="wp-package" value="UniversalAnalyticsPlugin" /> </gap:plugin>
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-dialogs" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <icon src="img/logo.png" />
</widget>

